<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
    <add key="hostIP" value="10.64.14.228" />
   <add key="hostPort" value="8083" />
   <add key="TopicID" value="/World" />
     <add key="Esec2008BoxRs232" value="COM2,9600,8,None,One" />
     <add key="Esec2008BarCodeScanerRs232" value="COM5,115200,8,None,One" />
   </appSettings>
</configuration>